@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');


:root{
    --black: #000;
    --white: #fff;
    --primary: #000;
    --secondary: #FF5C1D;

    /* primary Shades */
    --primary-50:#F8FAFC ;
    --primary-100:#F1F5F9 ;
    --primary-200:#E2E8F0 ;
    --primary-300:#CBD5E1 ;
    --primary-400:#94A3B8 ;
    --primary-500:#64748B ;
    --primary-600:#475569 ;
    --primary-700:#334155 ;
    --primary-800:#1E293B ;
    --primary-900:#0F172A ;
    --primary-950:#020617 ;

    /* Secondary Shades */
    --secondary-50:#FFEFE8 ;
    --secondary-100:#FFCCB9 ;
    --secondary-200:#FFB497 ;
    --secondary-300:#FF9268 ;
    --secondary-400:#FF7D4A ;
    --secondary-500:#FF5C1D ;
    --secondary-600:#E8541A ;
    --secondary-700:#B54115 ;
    --secondary-800:#8C3310 ;
    --secondary-900:#6B270C ;

     /* gray Shades */
     --gray-50:#fcf9fa ;
     --gray-100:#f9f3f4 ;
     --gray-200:#e2e8f0 ;
     --gray-300:#cad5e2 ;
     --gray-400:#90a1b9 ;
     --gray-500:#62748e ;
     --gray-600:#45556c ;
     --gray-700:#314158 ;
     --gray-800:#1d293d ;
     --gray-900:#0f172b ;
     --gray-950:#020618 ;

    --backdrop: #00000094;

    --primary-color: var(--primary);
    --primary-color-dark: var(--primary-600);
    --primary-color-light: var(--primary-400);
    --primary-color-disable: var(--primary-300);;

    --secondary-color: var(--secondary);
    --secondary-color-dark: var(--secondary-600);
    --secondary-color-light: var(--secondary-400);

    --primary-bg: var(--primary-color);
    --primary-bg-dark: var(--primary-color-dark);
    --primary-bg-light: var(--primary-color-light);

    --secondary-bg: var(--secondary-color);
    --secondary-bg-dark: var(--secondary-color-dark);
    --secondary-bg-light: var(--secondary-color-light);

    --btn-shadow: 0px -4px 5px #00000042;

    /*desktop */
    --media-thumb-width: 200px;
    --media-thumb-height: 200px;
    /*mobile */
    --media-thumb-sm-width: 140px;
    --media-thumb-sm-height: 140px;

    --max-container-width: 1920px;

}

/* color classes */
    .black{color: var(--black);}
    .white{color: var(--white);}
    .primary{color: var(--primary);}
    .primary{color: var(--secondary);}

    /* primary Shades */
    .primary-50{ color: var(--primary-50) }
    .primary-100{ color:var(--primary-100) }
    .primary-200{ color:var(--primary-200) }
    .primary-300{ color:var(--primary-300) }
    .primary-400{ color:var(--primary-400) }
    .primary-500{ color:var(--primary-500) }
    .primary-600{ color:var(--primary-600) }
    .primary-700{ color:var(--primary-700) }
    .primary-800{ color:var(--primary-800) }
    .primary-900{ color:var(--primary-900) }
    .primary-950{ color:var(--primary-950) }

    /* Secondary Shades */
    .secondary-50{  color: var(--secondary-50)}
    .secondary-100{ color: var(--secondary-100)}
    .secondary-200{ color: var(--secondary-200)}
    .secondary-300{ color: var(--secondary-300)}
    .secondary-400{ color: var(--secondary-400)}
    .secondary-500{ color: var(--secondary-500)}
    .secondary-600{ color: var(--secondary-600)}
    .secondary-700{ color: var(--secondary-700)}
    .secondary-800{ color: var(--secondary-800)}
    .secondary-900{ color: var(--secondary-900)}

    /* Gray Shades */
    .gray-50{  color: var(--gray-50)}
    .gray-100{ color: var(--gray-100)}
    .gray-200{ color: var(--gray-200)}
    .gray-300{ color: var(--gray-300)}
    .gray-400{ color: var(--gray-400)}
    .gray-500{ color: var(--gray-500)}
    .gray-600{ color: var(--gray-600)}
    .gray-700{ color: var(--gray-700)}
    .gray-800{ color: var(--gray-800)}
    .gray-900{ color: var(--gray-900)}
    .gray-950{ color: var(--gray-950)}

    /* Font Weight Utilities */
    .fw-100 { font-weight: 100; }
    .fw-200 { font-weight: 200; }
    .fw-300 { font-weight: 300; }
    .fw-400 { font-weight: 400; }
    .fw-500 { font-weight: 500; }
    .fw-600 { font-weight: 600; }
    .fw-700 { font-weight: 700; }
    .fw-800 { font-weight: 800; }
    .fw-900 { font-weight: 900; }

    .primary-color{ color: var(--primary-color);}
    .primary-color-dark{ color: var(--primary-color-dark-600);}
    .primary-color-light{ color: var(--primary-color-light-400);}
    .primary-color-disable{ color: var(--primary-color-disable-300);}

    .secondary-color{ color: var(--secondary);}
    .secondary-color-dark{ color: var(--secondary-color-dark);}
    .secondary-color-light{ color: var(--secondary-color-light);}

    .primary-bg{ background-color: var(--primary-bg);}
    .primary-bg-dark{ background-color: var(--primary-bg-dark);}
    .primary-bg-light{ background-color: var(--primary-bg-light); }

    .secondary-bg{ background-color: var(--secondary-bg);}
    .secondary-bg-dark{ background-color: var(--secondary-bg-dark);}
    .secondary-bg-light{ background-color: var(--secondary-bg-light); }

    .bg_white{ background-color: var(--white); }



    .grid-auto-fit{ 
        --grid-min-col-size: 12.5rem; /* 200px; */
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr) );
        grid-gap: 1.5rem; /* 24px; */
    }

    .flex_wrap{ flex-wrap: wrap; }
    .no_wrap{ flex-wrap: nowrap; }
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    /* width: 100% !important; */
}


    /* =================================================================================================================================== */
/* ========================================================== Utilities  =================================================== */
/* =================================================================================================================================== */

    /* Spacing Utilities (padding and margin) */
    .p-0 { padding: 0; }
    .p-1 { padding: 0.25rem; }
    .p-2 { padding: 0.5rem; }
    .p-3 { padding: 1rem; }
    .p-4 { padding: 1.5rem; }
    .p-5 { padding: 2rem; }

    .pt-0 { padding-top: 0; }
    .pt-1 { padding-top: 0.25rem; }
    .pt-2 { padding-top: 0.5rem; }
    .pt-3 { padding-top: 1rem; }
    .pt-4 { padding-top: 1.5rem; }
    .pt-5 { padding-top: 2rem; }

    .pr-0 { padding-right: 0; }
    .pr-1 { padding-right: 0.25rem; }
    .pr-2 { padding-right: 0.5rem; }
    .pr-3 { padding-right: 1rem; }
    .pr-4 { padding-right: 1.5rem; }
    .pr-5 { padding-right: 2rem; }

    .pb-0 { padding-bottom: 0; }
    .pb-1 { padding-bottom: 0.25rem; }
    .pb-2 { padding-bottom: 0.5rem; }
    .pb-3 { padding-bottom: 1rem; }
    .pb-4 { padding-bottom: 1.5rem; }
    .pb-5 { padding-bottom: 2rem; }

    .pl-0 { padding-left: 0; }
    .pl-1 { padding-left: 0.25rem; }
    .pl-2 { padding-left: 0.5rem; }
    .pl-3 { padding-left: 1rem; }
    .pl-4 { padding-left: 1.5rem; }
    .pl-5 { padding-left: 2rem; }

    .m-0 { margin: 0; }
    .m-1 { margin: 0.25rem; }
    .m-2 { margin: 0.5rem; }
    .m-3 { margin: 1rem; }
    .m-4 { margin: 1.5rem; }
    .m-5 { margin: 2rem; }

    .mt-0 { margin-top: 0; }
    .mt-1 { margin-top: 0.25rem; }
    .mt-2 { margin-top: 0.5rem; }
    .mt-3 { margin-top: 1rem; }
    .mt-4 { margin-top: 1.5rem; }
    .mt-5 { margin-top: 2rem; }

    .mr-0 { margin-right: 0; }
    .mr-1 { margin-right: 0.25rem; }
    .mr-2 { margin-right: 0.5rem; }
    .mr-3 { margin-right: 1rem; }
    .mr-4 { margin-right: 1.5rem; }
    .mr-5 { margin-right: 2rem; }

    .mb-0 { margin-bottom: 0; }
    .mb-1 { margin-bottom: 0.25rem; }
    .mb-2 { margin-bottom: 0.5rem; }
    .mb-3 { margin-bottom: 1rem; }
    .mb-4 { margin-bottom: 1.5rem; }
    .mb-5 { margin-bottom: 2rem; }

    .ml-0 { margin-left: 0; }
    .ml-1 { margin-left: 0.25rem; }
    .ml-2 { margin-left: 0.5rem; }
    .ml-3 { margin-left: 1rem; }
    .ml-4 { margin-left: 1.5rem; }
    .ml-5 { margin-left: 2rem; }

    .min_width-0 { min-width: 0; }
    .min_width-1 { min-width: 0.25rem; }
    .min_width-2 { min-width: 0.5rem; }
    .min_width-3 { min-width: 1rem; }
    .min_width-4 { min-width: 1.5rem; }
    .min_width-5 { min-width: 2rem; }

/* ========================================
              Over write
==========================================*/
a.btn, button.btn{
    padding: 8px 10px;
    display: flex;
    align-items: center;
}
.btn:hover {
    background-color: var(--primary-bg-dark);
    border-color: var(--primary-bg-dark);
    border: unset;
}
.btn_primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: var(--primary-bg) !important;
    --bs-btn-border-color: var(--primary-bg) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg:  var(--primary-bg-light) !important;
    --bs-btn-hover-border-color: var(--primary-bg-dark) !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: var(--primary-bg-dark) !important;
    --bs-btn-active-border-color: var(--primary-bg-dark) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: var(--primary-bg) !important;
    --bs-btn-disabled-border-color: var(--primary-bg) !important;
    border: unset;
}

.btn_secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--secondary-bg);
    --bs-btn-border-color: var(--secondary-bg);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:  var(--secondary-bg-light);
    --bs-btn-hover-border-color: var(--secondary-bg-dark);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--secondary-bg-dark);
    --bs-btn-active-border-color: var(--secondary-bg-dark);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--secondary-bg);
    --bs-btn-disabled-border-color: var(--secondary-bg);
    border: unset;
}

.btn_secondary:hover {
    background-color: var(--secondary-bg-dark) !important;
    border-color: var(--secondary-bg-dark) !important;
    border: unset !important;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--white) !important;
    background-color: var(--secondary-bg-dark) !important;
    border-color: unset !important;
}

.btn_outline_secondary {
    --bs-btn-color: #6c757d;
    --bs-btn-border-color: var(--secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--secondary-300);
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
}

.btn_outline_primary {
    --bs-btn-color: #6c757d;
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--primary-300);
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
}

.btn-sm{min-height: 40px;}
.btn-lg{min-height: 48px;}

a:hover {
    --bs-link-color-rgb: unset;
}

.form-control:focus{
    box-shadow: 0 0 0 .25rem rgb(201 201 201 / 25%);
    border-color: var(--secondary)
}
/* ========================================
              Basics
==========================================*/
.w_full {width: 100%; }

.h_full {height: 100%; }

.flex {display: flex; }

.block {display: block; }

.justify_start {justify-items: start; }

.justify_around {justify-content: space-around; }

.justify_between {justify-content: space-between; }

.justify_evenly {justify-content: space-evenly; }

.items_center {align-items: center; }

.items_start {align-items: start; }

.flex{ display: flex; }
.flex_row{ flex-direction: row; }
.flex_col{ flex-direction: column; }
.align_center{ align-items: center; }
.justify_center{ justify-content: center; }
.align_start{ align-items: start; }
.justify_start{ justify-content: start; }
.align_end{ align-items: end; }
.justify_end{ justify-content: end; }

.gap_8 {gap: 8px; }
.gap_16 {gap: 16px; }
.gap_24 {gap: 24px; }
.gap_32 {gap: 32px; }

.text_left{ text-align: left; }
.text_center{ text-align: center; }
.text_right{ text-align: right; }

.fw_normal{ font-weight: 300; }

.border_bottom{
    border-bottom: 1px solid var(--primary-300);
    padding-bottom: 16px;
    margin-bottom: 0;
}

hr{
    border-bottom: 1px solid var(--primary-300);
    margin: 16px 0;
}

a{text-decoration: none; color: var(--primary);}
/* a:hover{font-weight: 500;} */

ul{
    list-style: none;
    padding: 0;
    li{
        margin-bottom: 8px;
    }
}

.pointer{cursor: pointer;}
.underline{
    text-decoration: underline !important;
    &:hover{
        text-decoration: underline !important;
    }
}
.capitalize{text-transform: capitalize;}

/* form{ width: max-content;} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
    caret-color: var(--secondary);
}
input:is([type="checkbox"], [type="radio"]),
input:is([type="range"]){
    accent-color: var(--primary);
}
.form-check-input:checked{
    background-color: var(--primary);
    border-color:var(--primary)
}


/* ========================================
Alerts
==========================================*/

.alert_wrapper {
    display: flex;
    gap: 3px;
    flex-direction: column;
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 999;
}

/* ========================================
Radio Buttons
==========================================*/
/* .rs_radio_btns{
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    row-gap: 8px;
}
.rs_radio_btns>div{
    display: flex;
    gap: 8px;
}

.rs_radio_btns input[type='radio']+label:hover{
    color: var(--secondary);
}

.rs_radio_btns input[type='radio']::before {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: 2px;
    left: -1px;
    position: relative;
    background-color: var(--white);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--primary-400);
}

.rs_radio_btns input[type='radio']:checked::before {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: 2px;
    left: -1px;
    position: relative;
    background-color: var(--primary);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--primary);
}

.rs_radio_btns input[type="radio"]:checked+label{
    color: var(--primary);
    font-weight: 500;
} */

/* ----------- Radio Square buttons ------------ */
.radio_bts_square{
    display: flex;
    gap: 8px;

}
.radio_bts_square input[type="radio"] {
    display: none;
    visibility: hidden;
}
.radio_bts_square label{
    cursor: pointer;
}
.radio_bts_square label{
    border: 1px solid var(--primary);
    border-radius: 3px;
    padding: 10px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.radio_bts_square label:hover,
.radio_bts_square input[type="radio"]:checked+label{
    background-color: var(--primary);
    color: var(--white);
}

/* ----------- Radio Square buttons for icon ------------ */
.radio_bts_square_icon{
    display: flex;
    gap: 12px;
}
.radio_bts_square_icon input[type="radio"] {
    display: none;
    visibility: hidden;
}
.radio_bts_square_icon label{
    cursor: pointer;
}
.radio_bts_square_icon label{
    border: 1px solid var(--primary);
    border-radius: 3px;
    padding: 10px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    
}
.radio_bts_square_icon label:hover,
.radio_bts_square_icon input[type="radio"]:checked+label{
    border: 1px solid var(--secondary);
    color: var(--secondary);
    box-shadow: unset;
}

/* ========================================
File upload
==========================================*/
.rs_upload_btn input[type="file"] {
    display: none;
}

.rs_upload_btn label{
    border: 2px dotted var(--primary-400);
    border-radius: 5px;
    width: var(--media-thumb-width);
    height: var(--media-thumb-width);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 766px) {
    .rs_upload_btn label {
        width: var(--media-thumb-sm-width);
        height: var(--media-thumb-sm-width);
        padding: 8px;
    }
}
/* ========================================
scrollbar
==========================================*/

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--primary-500); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color-dark);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-dark);
  }
  
/* =======================================================================
Frontend
===========================================================================*/
.frontend_body{
    background-color: var(--primary-100);
}
.frontend_top_header{
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    .navbar-nav{
        display: flex;
        gap: 16px;
        align-items: center;
        flex-direction: row;
    }
}
.hero_section{
    max-width: var(--max-container-width);
    margin: 0 auto;
    h2{
        font-size: 42px;
        font-weight: 600;
        margin: 0;
    }
    .hero_description{
        padding-right: 30%;
        font-size: 18px;
    }
    .main_hero_section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 16px;
        margin: 0 auto;
        .hero_title{
            font-size: 5.8rem;
            line-height: 115px;
            font-weight: 600;
            color: var(--primary);
            span{
                color: var(--secondary);
                /* font-size: 4rem; */
            }
        }
        .hero_btns{
            display: flex;
            gap: 16px;
        }
    }
    .hero_cards{
        display: flex;
        justify-content: center;
        align-items: center;   
        gap: 64px;
        margin: 72px 0;
        .hero_card_item{
            max-width: 450px;
            padding: 24px;
            background-color: var(--primary-900);
            color: var(--white);
            border-radius: 12px;
            min-height: 263px;
            p{
                margin: 0;
            }
            .card_title{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 16px;
            }
        }
    }
    .features_list{
        padding: 70px 0;
        .feature_item{
            max-width: 350px;
            padding: 24px;
            border-radius: 12px;
            text-align: left;
            p{
                margin: 0;
            }
            .card_title{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;
            }
        }   
    }
}
.features_section{
    .features_item{
        padding: 120px 0;
        .feature_card{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;   
        }
    }
}
.book_demo_section{
    padding-top: 60px;
    .book_demo_card{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        .card_title{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 16px;
        }
    }
    .container {
        display: flex;
        align-items: center;
        .book_demo_btn{
            min-width: 120px;
        }
    }
    .book_demo_img{
        padding-left: 51px;
        width: 1100px;
        overflow: hidden;
        img{
            transform: rotate(340deg);
            width: 520px;
            margin-top: 87px;
        }
    }
}
.footer_section{
    background-color: var(--white);
    border-top:1px solid var(--primary-300);
    .frontend_footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;
        p{
            margin: 0;
        }
        ul{
            margin: 0;
            display: flex;
            li{
                margin: 0;
                img{
                    width: 40px;
                }
            }
        }
    }
}
/* =======================================================================
Features carrousel slider
===========================================================================*/
.carousel_wrapper{
  width:90%;
  margin:0px auto;
  padding-top: 20px;
  text-align:center;
}
.carousel{
  width:90%;
  margin:0px auto;
  .carousel-item{
    display: block;
  }
  .slick-prev,.slick-next{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-color: var(--primary); */
    color: var(--white);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    .slick-prev:before, .slick-next:before{
        color: var(--secondary);
        border-radius: 50%;
    }   
    
}
.slick-prev{
  left: -32px !important;
}
.slick-next{
  right: -32px !important;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.slick-dots li button:before {
  font-size:18px !important;
  color:white;
}
.slick-dots li.slick-active button:before{
    color: var(--secondary) !important;
}


  
/* =======================================================================
Pricing page
===========================================================================*/
.pricing_section{
    padding-top: 80px;
    padding-bottom: 80px;
    h2{
        text-align: center;
    }
    .pricing_tables{
        display: flex;
        flex-direction: row;
        justify-content:center;
        gap: 64px;
        .price_table{
            width: 450px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--white);
            overflow: hidden;
            border-radius: 12px;
            text-align: center;
            padding-bottom: 24px;
            
            .price_table_header{
                background-color: var(--primary-900);
                color: var(--white);
                padding : 20px;
                h3{
                    margin: 0;
                }
                h5{
                    font-size: 14px;
                    font-weight: 400
                }
            }
            .price_table_content{
                padding: 24px;
                .desc{
                    font-size: 14px;
                    margin-bottom: 16px;
                }
                .price{
                    font-size: 52px;
                    font-weight: 600;
                    margin: 0;
                    padding: 24px 0;
                    span{
                        font-size: 24px;
                        font-weight: 400;
                        color: var(--primary-500);
                    }
                }
                .pricing_features_wrapper{
                    display: flex;
                    justify-content: center;
                    .pricing_features{
                        text-align: left;
                        li{
                            margin: 0;
                            padding: 8px 0;
                            &:before {
                                content: '✓';
                                color: var(--secondary);

                                padding-right: 8px;
                            }
                        }
                    }
                }
            }
            .pricing_btn{
                margin-left: 24px;
                margin-right: 24px;
                width: -webkit-fill-available;
                justify-content: center;
            }
        }

    }
    &.why_us_section{
        background-color: var(--white);
        display: flex;
        justify-content: center;
        .pricing_tables{
            align-items: center;
            gap: 64px;
        }
        .why_us_table{
            width: 320px;
            justify-content: center;
            height: fit-content;
            border: 1px solid var(--primary-300);
            .price_table_content{
                display:flex;
                flex-direction: column;
                gap: 32px;
                img{
                    margin-bottom: 16px;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    color: var(--primary-800);
                }
            }
        }
    }
}

.trusted_by_section{
    text-align: center;
}




/* =======================================================================
Responsive
===========================================================================*/
/* Mobile */
@media (max-width:766px) {
    .hero_section{
        .main_hero_section{
            display: block;
            padding: 0;
            .hero_title{
            font-size: 3rem;
            line-height: 58px;
            }
            .hero_description{
                padding-right: 0;
                margin-bottom: 20px;
            }
            .hero_btns{
                margin-bottom: 32px;
            }
        }
        .hero_cards{  
            flex-direction: column;
            gap: 32px;
        }
        .features_list{
            padding-top: 0;
            .feature_item{
                width: 100%;
            }
        }
    }
    .features_section{
        .features_item{
            padding: 38px 0;

        }
    }
    .book_demo_section {
        padding-top: 32px;
        .container{
            flex-direction: column;
            align-items: start;
        }
        .book_demo_img {
            width: 100%;
            margin-top: 0;
            img{
                width: 591px;
                margin-top: 65px;
                margin-left: -83px;
            }
        }
    }

    .pricing_section{
        padding-left: 16px;
        padding-right: 16px;
        .pricing_tables{
            flex-direction: column !important;
            .price_table{
                width: 100%;
            }
        }
    }
    .footer_section {
        .frontend_footer {
            flex-direction: column;
            align-items: center;
            ul {
                margin-top: 16px;
            }
        }
    }
}